html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background-color: #f7f7f7;
    
}

* {
    font-family: 'Kanit', sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
}
#centerPanel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#selection {
	width: 100%;
	height: 100%;
	margin: auto;
}
#questionMaster {
	display: none;
    width: 100%;
    height: 100%;
    margin: auto;
}   
#results {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Selection Page */
.up {
    position: absolute;
    top: 3%;
    left: calc(50% - 25px);
    width: 3vw;
    height: 3vw;
    border-width: 20px 0px 0px 20px;
    border-color: #2b8a65;
    border-style: solid;
    transform: rotate(45deg);
    z-index: 100;
    cursor: pointer; 
}
.down {
    position: absolute;
    bottom: 3%;
    left: calc(50% - 25px);
    width: 3vw;
    height: 3vw;
    border-width: 0px 20px 20px 0px;
    border-color: #2b8a65;
    border-style: solid;
    transform: rotate(45deg);
    z-index: 100;
    cursor: pointer;
}
#down2, #up1 {
    border-color: #ec7a2d; 
}
#welcome {    
    height: 100vh;
    background-color: #21be8b;
    text-align: center;
    font-weight: bolder;
    position: relative;
}
#welcome > h1 {
    position: relative;
    top: 100px;
    font-size: 16vmin;
    color: #2b8a65;
    margin: 0;
    padding: 0 5% 0 5%;
}

#topicContainer {
    position: relative;
    height: 100vh;
    background-color: #f59c45;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    color: #505050;
}
#topicCard {
    height: 70%;
    width: 90%;
    -webkit-box-shadow: 10px 10px 89px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 89px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 89px -23px rgba(0,0,0,0.75);
    margin:auto;
    position: relative;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.5);
}
#topicCard > .title {
    display: inline-block;
	width: calc(40% - 60px);
	text-align:left;
    font-size: 6vmin;
    color: #5a5a5a;
    vertical-align: top;
    padding: 30px;    
}
#topicCard img {
    width: 30%;
    height: auto;
}
#topicHolder {
    display: inline-block;
    width: calc(59.6% - 100px);
    vertical-align: top;
    height: 100%;
    padding: 50px;
}
.topic {
	display: inline-block;
    width: 25%;
    height: 12%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    line-height: 220%;
    font-size: 2.2em;
	padding: 10px;
	border-radius: 5px;
    background-color: #ff5c5c;
    border: 1px solid #646464;
    box-shadow: 3px 5px #6f6f6f;
    cursor: pointer;
    color: #505050;
}
.topicHighlighted {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 3px;
    width: 25%;
    margin: 20px;
    padding: 20px;
    text-align: center;
	height: 12%;
    line-height: 220%;
	font-size: 2.2em;
	padding: 10px;
	border-radius: 5px;
    background-color: #77cc6c;
    border: 1px solid #646464;
    box-shadow: 1px 1px #505050;
    cursor: pointer;
    color: #505050;
}

#confirmation{
    height: 100vh;
    background-color: #4392F1;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
}
#confirmationCard {
    height: 70%;
    width: 90%;
    -webkit-box-shadow: 10px 10px 89px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 89px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 89px -23px rgba(0,0,0,0.75);
    margin:auto;
    position: relative;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.5);
}
#numQuests {
    display: inline-block;
    width: calc(40% - 60px);
    height: 100%;
    border-right: 3px solid gray;
/*    border-left: 3px solid gray;*/
    text-align: center;
}
#numQuests > .title, #topicHolder > .title {
    width: auto;
    height: auto;
    padding: 30px;
    font-size: 4vmin;
    color: #5e5e5e;
    text-align: center;
}
.numQuest {
    display: inline-block;
    width: 20%;
    height: 10%;
    margin: 20px;
    padding: 0px;
    text-align: center;
    line-height: 200%;
    font-size: 2.2em;
	padding: 10px;
	border-radius: 5px;
    background-color: #D5B942;
    border: 1px solid #646464;
    box-shadow: 3px 5px #6f6f6f;
    cursor: pointer;
    color: #505050;
}
.numQuestHighlighted {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 3px;
    width: 20%;
    margin: 20px;
    padding: 0px;
    text-align: center;
	height: 10%;
    line-height: 200%;
	font-size: 2.2em;
	padding: 10px;
	border-radius: 5px;
    background-color: #77cc6c;
    border: 1px solid #646464;
    box-shadow: 1px 1px #505050;
    cursor: pointer;
    color: #505050;
}
#instructions {
    display: inline-block;
    width: 40%;
    height: calc(100%);
    margin: 0;
    padding: 0px 0 0px 30px;
    vertical-align: top;
    font-size: 3vmin;
    color: #535353;
    border-right: 2px solid gray;
}
#confirmationCard h2{
    font-size: 4vmin;
    margin: 0;
    padding: 20px 20px 0 20px;
    
}
#confirmationCard  p {
    width: auto;
    height: auto;
    padding: 0px 20px 0 20px;
}
#instructions > img {
    width: 35%;
    margin-left: 5%;
}

#confirm {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 13%;
    width: 13%;
    border-radius: 5px;
    font-size: 250%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    line-height: 220%;
    font-size: 2.2em;
	padding: 10px;
	border-radius: 5px;
    background-color: rgba(121, 121, 121, 0.4);
    border: 1px solid #646464;
    box-shadow: 3px 5px #6f6f6f;
    color: #505050;
}
